.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin: 40px 0px 100px 0px;
}

.page-item .page-link {
  position: relative;
  display: block;
  margin: 0 5px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: rgb(69, 69, 69);
  text-decoration: none;
}

.page-item a.page-link:hover {
  background-color: rgb(190, 190, 190);
}

.page-item.active .page-link {
  font-weight: 700;
  color: #ffffff;
  background-color: rgb(69, 69, 69);
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
